<div class="animated fadeIn">
    
    <!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> <b>Alunos</b>  
          </div>
          <div class="card-body">
           
            <div class="row">
              <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                <button (click)="newAluno()" type="button" class="btn btn-primary">Novo Aluno <i class="fa fa-exchange fa-lg mt-1"></i></button>
              </div>
            </div><br>
                       
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Id</th> 
                  <th>RA</th> 
                  <th>Aluno</th>  
                  <th>Matricular</th>                 
                  <th>Alterar Aluno</th>                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let a of listAluno">
                  <td>{{a.idaluno}}</td>                  
                  <td>{{a.ra}}</td>
                  <td>{{a.nome_aluno}}</td>  
                  <td><button (click)="matriculaAluno(a.idaluno)" class="btn btn-success">Matricular</button></td>                                 
                  <td><button (click)="uptadeAluno(a.idaluno)" class="btn btn-warning">Alterar</button></td>
                 
                </tr>                
              </tbody>
            </table>
            <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
</div>


