<!-- app.component.html -->
<nav>
    <div class="nav-wrapper">
      <a href="#" class="left brand-logo">Seu Logo</a>
      <ul id="nav-mobile" class="right">
        <li><a routerLink="/nivel-curso">Nível de Curso</a></li>
        <li><a routerLink="/curso">Curso</a></li>
        <li><a routerLink="/turma">Turma</a></li>
        <li><a routerLink="/matricula">Matrícula</a></li>
        <li><a routerLink="/aluno">Aluno</a></li>
        <li><a routerLink="/aula">Aula</a></li>
        <li><a routerLink="/chamada">Chamada</a></li>
        <!-- Adicione mais links conforme necessário -->
      </ul>
    </div>
  </nav>
  